@font-face {
  font-family: Underground;
  font-weight: 400;
  src: url('~assets/fonts/DroidSans.ttf') format('ttf'),
    url('~assets/fonts/DroidSans-Bold.ttf') format('ttf'),
    url('~assets/fonts/Montserrat-SemiBold.ttf') format('ttf'),
    url('~assets/fonts/Montserrat-Bold.ttf') format('ttf')
    ;
}